<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>Gaia3d Sample Page</title>
<link rel="stylesheet" href="./css/style.css">
</head>
<body>
	<div id="map" class="map"></div>
	<div class="mapControl">
		<p>지도</p>
		<button id="zoom" class="zoom" data-direction="in">지도확대</button>
		<button class="zoom" data-direction="out">지도축소</button>
		<button class="rotate" data-direction="right">지도회전(&lt;)</button>
		<button class="rotate" data-direction="left">지도회전(&gt;)</button>
		<p>그리기</p>
		<button class="draw" data-target-layer="draw_layer" data-type="Point">점</button>
		<button class="draw" data-target-layer="draw_layer" data-type="LineString">선</button>
		<button class="draw" data-target-layer="draw_layer" data-type="Polygon">면</button>
		<button class="draw" data-target-layer="draw_layer" data-type="Circle">원</button>
		<!-- <button class="draw" data-target-layer="draw_layer" data-type="None">없음</button>
		<button class="clear" data-target-layer="draw_layer">지우기</button> -->
		<button class="clear" data-target-layer="draw_layer" data-type="None">그리기 종료</button>
		<p>포인트</p>
		<button class="point" data-lon="126.904865" data-lat="37.519971" data-target-layer="point_layer" data-style="point1">1</button>
		<button class="point" data-lon="126.907945" data-lat="37.519323" data-target-layer="point_layer" data-style="point2">2</button>
		<button class="point" data-lon="126.910643" data-lat="37.518753" data-target-layer="point_layer" data-style="point3">3</button>
		<button class="clear" data-target-layer="point_layer">지우기</button>
		<p>블록</p>
		<button id="addBlock" data-target-layer="block_layer">블록조회</button>
		<button class="translate" data-status="off" data-on="블록이동 ON" data-off="블록이동 OFF">블록이동 OFF</button>
		<button id="removeBlock" data-target-layer="block_layer">블록지우기</button>
		<p>건물</p>
		<button id="getInfo" data-status="off" data-on="활성화" data-off="비활성화">비활성화</button>
	</div>

	<!-- 스케일 바 -->
	<div id="scale-position"></div>

	<!-- 마우스 포지션 -->
	<div id="mouse-position"></div>

	<!-- 툴팁 -->
	<div id="tooltip" class="tooltipText"></div>
</body>
<script type="text/javascript" src="./externlib/jquery-3.3.1/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="./externlib/ol46/ol-debug.js"></script>
<script type="text/javascript" src="./externlib/proj4js-2.4.3/proj4.min.js"></script>
<script type="text/javascript" src="./js/prop.js"></script>
<script type="text/javascript" src="./js/style.js"></script>
<script type="text/javascript" src="./js/mapEvent.js"></script>
<script type="text/javascript" src="./js/MapInit.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	// 선언
	$.extend(GAIA3D || {}, {
		Policy: {
			// TODO: DB관리 필요
			serverUrl: 'http://localhost:8081',
			geoserverDataUrl: 'http://localhost:8080/geoserver',
			geoserverDataWorkspace: 'demo',
			coordinate: 'EPSG:5179',
			mapDefaultLayer: 'seoul_group',
			mapExtent: [531371.84, 967246.47, 1576674.68, 2274021.31],
			mapCenter: [947688.527800, 1946723.497262]
		}
	});

	// 맵 생성
	GAIA3D.GIS = new MapInit(GAIA3D.Policy);
	GAIA3D.Map = GAIA3D.GIS.create('map');
});

</script>
</html>